.buruburu {
    display: inline-block;
    animation: hurueru .1s infinite;
}

@keyframes hurueru {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }

    25% {
        transform: translate(2px, 2px) rotateZ(1deg)
    }

    50% {
        transform: translate(0px, 2px) rotateZ(0deg)
    }

    75% {
        transform: translate(2px, 0px) rotateZ(-1deg)
    }

    100% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
}

.ball {
    position: absolute;
    width: 10%;
    height: auto;
    top: 0px;
    left: 0px;
    /* background: #000; */
    /* transition: all 1000ms 0s ease-in;
    transform: scale(0.0l, 0.01); */
    /* transform: all .1s; */
}

.active {
    /* transform: translateX(300px);
    background: #ff0000; */
    transform: scale(2.5, 2.5);
    /* transition: transform .2s ease .1s; */
}

/*チェックは見えなくする*/
.hidden_box input#label_show {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    /* padding: 0; */
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked~.hidden_show {
    /* padding: 10px 0; */
    height: auto;
    opacity: 1;
}